.el-tooltip.box-item .el-tooltip__popper {
    transform: translateX(-50%);
  }
  .demo-image__error .image-slot {
    font-size: 30px;
  }
  .demo-image__error .image-slot .el-icon {
    font-size: 30px;
  }
  .demo-image__error .el-image {
    width: 100%;
    height: 200px;
  }
  
  
.custom-input {
    margin-left: 20px;
    width: 200px /* 调整宽度为所需大小 */
}